Requirements:
1. TensorFlow
2. NumPy
3. Pandas
4. Scikit-Learn
5.MAtplotlib
6. Seaborn
7. Jupyter

verify Installations
1. import tensorflow as tf
2.import numpy as np
3. import pandas as pd
4. import sklearn
